mixin link_img(type, link, image)
  a(href=link, target="_blank")
    img(src=image, title="Follow Me on: " + type, alt="Follow Me on: " + type)

mixin social_links
  ul
    li
      +link_img("Twitter", "//www.twitter.com/#!/brett_langdon", "/img/twitter.png")
    li
      +link_img("Linkedin", "//www.linkedin.com/in/brettlangdon", "/img/linkedin.png")
    li
      +link_img("GitHub", "//github.com/brettlangdon", "/img/github.svg")
    li
      +link_img("RSS", "//brett.is/feed.xml", "/img/rss.png")
    li
      +link_img("E-Mail", "mailto:brett@blangdon.com", "/img/email.png")
  span(style="clear:both")
