extends layout
block content
 h1 3D Shop

 p The following are products which I have 3d modeled and have available for sale on
  a(href="http://www.shapeways.com/shops/brett", target="_blank") Shapeways

 iframe(width=200, height=305, frameborder=0, allowfullscreen, allowtransparency, src="//www.shapeways.com/fragments/product?spin=AWZYCTQJZ")
